<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('../_includes/_common.ejs') %> 

        <title>Tenkue Hotel</title>

    </head>
</html>

    <body>
        <%- include('../_includes/_header') %>

        <main>
            <article class="p-room">
                <div class="p-room__header"> </div>
                <div class="p-room__container">
                    <div class="p-room__container__room">
                        <h2>ROOM</h2>
                        <div class="p-room__container__room__item">
                            <div class="p-room__container__room__item__box">
                                <p class="p-num">01</p>
                                <h3>SWEET ROOM</h3>
                                <p class="p-text">一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。</p>
                            </div>
                            <div class="p-room__container__room__item__box">
                                <img src="../../asset/image/room_02.jpg" alt>
                            </div>
                        </div>
                        <div class="p-room__container__room__item p-room__container__room__item-rev">
                            <div class="p-room__container__room__item__box">
                                <p class="p-num">02</p>
                                <h3>DELUXE ROOM</h3>
                                <p class="p-text">一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。</p>
                            </div>
                            <div class="p-room__container__room__item__box">
                                <img src="../../asset/image/room_03.jpg" alt>
                            </div>
                        </div>
                        <div class="p-room__container__room__item">
                            <div class="p-room__container__room__item__box">
                                <p class="p-num">03</p>
                                <h3>STANDARD ROOM</h3>
                                <p class="p-text">一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。</p>
                            </div>
                            <div class="p-room__container__room__item__box">
                                <img src="../../asset/image/room_04.jpg" alt>
                            </div>
                        </div>
                        <h2>FACILITIES</h2>
                        <h3>館内設備</h3>
                        <p class="p-text">レストラン・自動販売機</p>
                        <img src="../../asset/image/room_05.jpg" alt class="p-img">
                        <h3>部屋設備・備品</h3>
                        <p class="p-text">インターネット無線LAN（Wi-Fi）・ICカードセキュリティ・TV（43インチ以上）・冷蔵庫（空）・セーフティボックス・マイナスイオンドライヤー・加湿空気清浄機・電気ケトル・靴ベラ</p>
                    </div>
                </div>
            </article>

        </main>

        <%- include('../_includes/_footer.ejs') %>

    </body>
</html>
