<header class="l-header" id="header">

  <div class="l-header__inner">
    <a href="#" class="l-header__logo"><img src="asset/image/logo_header.svg" alt="logo"></a>
  </div>

  <!-- ハンバーガーメニュー -->
  <div id="nav-toggle">
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>


  <nav id="gloval-nav">
    <ul>
      <li><a href="#">TOP</a></li>
      <li><a href="#">ROOM</a></li>
      <li><a href="#">AREA GUIDE</a></li>
      <li><a href="#">ACCESS</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </nav>

  <!-- jQuery読み込み -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <script>
    $(() => {
      $(function () {
        $('#nav-toggle').on('click', function () {
          if ($(this).hasClass('active')) {
            $(this).removeClass('active');
            $('.nav-toggle').addClass('close').removeClass('open');
          } else {
            $(this).addClass('active');
            $('.nav-toggle').addClass('open').removeClass('close');
          }
        })
      })
    });
  </script>

</header>