<<<<<<< HEAD
<header class="l-header" id="header">
  <div class="l-header__inner">
      <a class="l-header__inner__logo" href="#">
        <img src="../../asset/image/logo_header.svg" alt="logo">
      </a>

    <div class="hamburger-line">
      <span></span>
      <span></span>
      <span></span>
    </div>
    
    <nav class="gloval-nav">
      <ul class="gloval-nav__list">
        <li><a href="/">TOP</a></li>
        <li><a href="/room/">ROOM</a></li>
        <li><a href="/areaguide/">AREA GUIDE</a></li>
        <li><a href="/access/">ACCESS</a></li>
        <li><a href="/contact/">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- jQuery読み込み -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
$('.hamburger-line').on('click',function(){
  if ( $(this).hasClass('active') ) {
    $(this).removeClass('active');
    $('.gloval-nav').addClass('close').removeClass('open');
  }
  else {
    $(this).addClass('active');
    $('.gloval-nav').addClass('open').removeClass('close'); 
  }
});
</script>
=======
<header class="l-header" id="header"></header>
>>>>>>> parent of 9b9509dc... header部分のマークアップ
