<header class="l-header" id="header">

  <div class="l-header__inner">
    <a href="#" class="l-header__logo"><img src="asset/image/logo_header.svg" alt="logo"></a>
  </div>

  <!-- ハンバーガーメニュー -->
  <div id="nav-toggle">
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>


  <nav id="gloval-nav">
    <ul>
      <li><a href="#">TOP</a></li>
      <li><a href="#">ROOM</a></li>
      <li><a href="#">AREA GUIDE</a></li>
      <li><a href="#">ACCESS</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </nav>


</header>