<header class="l-header">
  <div class="l-header__inner">
    <a href="/" class="l-header__inner__logo"><img src="../../asset/image/logo_header.svg" alt="logo"></a>
  </div>
  <nav id="pc-nav">
    <ul>
      <li><a href="/">TOP</a></li>
      <li><a href="/room/">ROOM</a></li>
      <li><a href="/areaguide/">AREA GUIDE</a></li>
      <li><a href="/access/">ACCESS</a></li>
      <li><a href="/contact/">CONTACT</a></li>
    </ul>
  </nav>
  <!-- ハンバーガーメニュー -->
  <div id="nav-toggle">
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <nav id="sp-nav">
    <ul>
      <li><a href="/">TOP</a></li>
      <li><a href="/room/">ROOM</a></li>
      <li><a href="/areaguide/">AREA GUIDE</a></li>
      <li><a href="/access/">ACCESS</a></li>
      <li><a href="/contact/">CONTACT</a></li>
    </ul>
  </nav>
  <!-- jQuery読み込み -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    $(() => {
      $(function () {
            $('#nav-toggle').on('click', function() {
            $('body').toggleClass('open');
          });
        })
      });
  </script>
</header>
