.p-contact {
  margin-top: 80px;
  padding-bottom: 150px;
  &__top {
    width: 100%;
    height: 60vh;
    background-image: url("../image/contact_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 5rem 2.4% 0 2.4%;
    text-align: center;
    @include sp-layout {
      padding: 4rem 1.6rem 8rem 1.6rem;
    }
    &__title {
      font-size: 1.5rem;
      margin-bottom: 4rem;
      letter-spacing: 2px;
      @include sp-layout {
        font-size: 6vw;
        margin-bottom: 2rem;
      }
      &::after {
        content:"";
        display:block;
        width:40px;
        height:3px;
        background-color: $color-primary;
        margin: 0 auto;
      }
    }
    &__subTitle {
      font-size: 1.1rem;
      margin-bottom: 2rem;
      @include sp-layout {
        margin-bottom: 1rem;
        font-size: 4.5vw;
      }
    }
    &__text {
      font-size: 1rem;
      margin-bottom: 1rem;
      margin-bottom: 4rem;
      @include sp-layout {
        @include font-size(23);
        margin-bottom: 2rem;
      }
    }
    &__form {
      &__box {
        text-align: left;
        display: flex;
        margin-bottom: 2rem;
        @include sp-layout {
          flex-direction: column;
          margin-bottom: 1.5rem;
        }
        &__input {
          width: 70%;
          background-color: $color-gold;
          border: none;
          @include font-size(16vw);
          @include sp-layout {
            width: 100%;
            padding: 1.3rem;
            @include font-size(23);
          }
        }
        label {
          width: 25%;
          margin: 0 auto;
          padding: 0.6rem;
          background-color: $color-primary;
          color: $color-light;
          @include sp-layout {
            width: 100%;
            padding: 0.6rem;
            margin: 0;
          }
        }
      }
      &__text {
        font-size: 0.9rem;
        margin-bottom: 1.2rem;
        @include sp-layout {
          margin-bottom: 1rem;
          @include font-size(20);
        }
      }
      &__privacy {
        font-size: 0.9rem;
        margin-bottom: 2rem;
        @include sp-layout {
          margin-bottom: 2rem;
          label {
            @include font-size(20);
          }
        }
      }
      &__button {
        font-size: 1rem;
        background-color: transparent;
        border: 1px solid #222;
        width: 300px;
        padding: 1rem;
        margin: 0 auto 20px;
        @include sp-layout {
          padding: 1.3rem;
          @include font-size(23);
        }
      }
    }
  }
}
