@mixin a-link {
    color: $color-light;
    @include font-size(16);
    @include tab-layout() {
        font-size: 2vw;
    }
    @include sp-layout() {
        font-size: 4vw;
    }
}

.l-footer {
    color: $color-light;
    background-color: $color-primary;
    &__container {
        max-width: 1024px;
        margin: 0 auto 1rem;
        padding: 20px 2.4% 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tab-layout() {
            padding: 20px 3% 0;
        }
        @include sp-layout() {
            padding: 20px 5% 0;
            flex-direction: column;
            margin: 0 auto;
        }
        &__address {
            @include sp-layout() {
                margin-bottom: 1rem;
                width: 100%;
            }
            img {
                width: auto;
                height: 20px;
                @include font-size(14);
                @include tab-layout() {
                    font-size: 3vw;
                }
                @include sp-layout() {
                    font-size: 6vw;
                }
            }
        }
        &__menu {
            @include sp-layout() {
                width: 100%;
            }
            ul {
                display: flex;
                @include sp-layout() {
                    flex-wrap: wrap;
                }
                li {
                    list-style: none;
                    a {
                        @include a-link;
                        letter-spacing: 0.1em;
                    }
                    @include sp-layout() {
                        width: 50%;
                    }
                }
                li:not(:first-child) {
                    margin-left: 2em;
                    @include sp-layout() {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    &__copy {
        text-align: center;
        padding-bottom: 20px;
        a {
            @include a-link;
        }
    }
}