#container {
  z-index: 900;
}
.l-header {
  background-color: #fff;
  width: 100%;
  height: 80px;
  padding: 10px 3%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 3px 3px #f7f7f7;
  
  &__inner {
    display: flex;
    height: 80px;
    position: relative;
    align-items: center;
  }

  &__logo {
    line-height: 40px;
    width: auto;
  }
}

/*スマホ表示時のボタン位置*/
#nav-toggle {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 32px;
  cursor: pointer;
  z-index: 1000;
> div {
  position: relative;
  width: 36px;
}
/*ボタン見た目*/
span {
  width: 100%;
  height: 1px;
  left: 0;
  display: block;
  background: #333;
  position: absolute;
  transition: transform .6s ease-in-out, top .5s ease;
  
  &:nth-child(1) {
    top: 0;
  }
  &:nth-child(2) {
    top: 14px;
  }
  &:nth-child(3) {
    top: 28px;
  }
}
  @include pc-layout {
    display: none;
  }
}
/*openクラスがついた時のボタン挙動*/
.open {
#nav-toggle span {
  background: #fff;
  
  &:nth-child(1) {
    top: 15px;
    transform: rotate(45deg);
  }
  &:nth-child(2) {
    top: 15px;
    width: 0;
    left: 50%;
  }
  &:nth-child(3) {
    top: 15px;
    transform: rotate(-45deg);
  }
}
}
/*ボタン押したあとの画面*/
#gloval-nav {
  background: #222;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include font-size(15);
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;

  ul {
    list-style: none;
    
    li {
      opacity: 0;
      transform: translateY(100px) scale(0.6) rotate(20deg);
      transition: transform .6s ease, opacity .2s ease;
      
      &:nth-child(2) {
        transition-delay: .15s;
      }
      &:nth-child(3) {
        transition-delay: .3s;
      }
      &:nth-child(4) {
        transition-delay: .45s;
      }
      &:nth-child(5) {
        transition-delay: .6s;
      }
    }
  }
}

/*PC表示時の画面*/
#pc-nav {
  position: fixed;
  top: 25px;
  right: 25px;
  ul {
    display: flex;
    li {
      margin-right: 20px;
    }
  }
  @include tab-layout {
    display: none;
  }
  @include sp-layout {
    display: none;
  }
}
a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 2rem 1rem;
  transition: 0.4;
  
  &:hover {
    color: #666;
    
  }
}


/* openしたときの表示 */
.open {
  overflow: hidden;

#gloval-nav {
  visibility: visible;
  opacity: 1;
}

#gloval-nav li {
  opacity: 1;
  transform: translateX(0);
  transition:  transform 1s ease, opacity .9s ease;
}
}